
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">KIDORA</h1>
                        <p class="text-secondary mb-0">Đồ chơi trẻ em</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Điều khoản & Chính sách</h4>
                    <a asp-controller="DieuKhoanChinhSach" asp-action="ChinhSachGiaoHang" class="btn-link" >Chính sách giao hàng</a>
                    <a asp-controller="DieuKhoanChinhSach" asp-action="ChinhSachBaoMat" class="btn-link">Chính sách bảo mật</a>
                    <a asp-controller="DieuKhoanChinhSach" asp-action="chinhSachBaoHangVaDoiTra" class="btn-link">Chính sách bảo hành và đổi trả</a>
                    <a asp-controller="DieuKhoanChinhSach" asp-action="ChinhSachThanhToan" class="btn-link">Chính sách thanh toán</a>  
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <p>Địa chỉ: 55 Nguyễn Trãi, Quận 5, TP.HCM</p>
                    <p>Email: 
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shopkidora@gmail.com&su=Liên hệ từ khách hàng Kidora&body=Chào Kidora,%0D%0ATôi muốn hỏi về..."
   target="_blank">
  shopkidora@gmail.com
</a>
                    <p>
                    </p>
                    <p>Liên hệ nhanh: <a href="tel:0909123456">0909 123 456</a></p>
                    <p>Giờ mở cửa: 8:00 – 21:00 (Thứ 2 – CN)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

