@model KIDORA.Data.CamNang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>CamNang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaBai" class="control-label"></label>
                <input asp-for="MaBai" class="form-control" />
                <span asp-validation-for="MaBai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGia" class="control-label"></label>
                <input asp-for="TacGia" class="form-control" />
                <span asp-validation-for="TacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TomTat" class="control-label"></label>
                <input asp-for="TomTat" class="form-control" />
                <span asp-validation-for="TomTat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

