@model KIDORA.Data.HangThanhVien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>HangThanhVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHang" />
            <div class="form-group">
                <label asp-for="TenHang" class="control-label"></label>
                <input asp-for="TenHang" class="form-control" />
                <span asp-validation-for="TenHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucChiTieu6Thang" class="control-label"></label>
                <input asp-for="MucChiTieu6Thang" class="form-control" />
                <span asp-validation-for="MucChiTieu6Thang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TyLeHoanKcoin" class="control-label"></label>
                <input asp-for="TyLeHoanKcoin" class="form-control" />
                <span asp-validation-for="TyLeHoanKcoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

